@import "~tfstyleguide/vars";

.search-bar {
  position: absolute;
  width: 100%;
  height: 240px;
  background-color: @white;
  left: 0;
  right: 0;
  top: 46px;
  opacity: 1;
  pointer-events: all;
  transition: top .3s ease, opacity .22s ease;
}

.search-bar__hidden {
  opacity: 0;
  transition: top .3s ease, opacity .22s ease;
  pointer-events: none;
}

.search-form {
  .col-width(6);
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 45px;

  .search-input {
    border-color: transparent;
    box-shadow: none;
    display: inline-block;
    &:focus {
      border-color: transparent;
      box-shadow: none;
    }
  }

  .icon-search {
    color: @blue;
  }
}
