@import "~tfstyleguide/vars";

.availability-grid {
  .body-text-small;
  width: 620px;
  margin: 0 auto 30px auto;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  &.availability-grid__disabled {
    color: @gray50;

    .availability-grid-days {
      color: @gray50;
    }

    .availability-grid-slot {
      background-color: @gray5;
      border-color: @white;
      cursor: default;

      &.selected {
        background-color: @gray25;
      }
    }
  }
}

.availability-grid-slot-names {
  display: inline-block;
  width: 75px;
  font-size: 12px;
  vertical-align: bottom;
}

.availability-grid-slot-name {
  position: relative;
  top: -8px;
  text-align: right;
  line-height: 30px;
  padding-right: 10px;
}

.availability-grid-days {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  color: @gray75;
}

.availability-grid-day {
  display: inline-block;
  width: 60px;
  line-height: 30px;
  margin-left: -1px;
}

.availability-grid-slot {
  position: relative;
  width: 60px;
  height: 31px;
  margin-top: -1px;
  background-color: @gray5;
  border: mix(@gray25, @gray50, 70%) 1px solid;
  cursor: pointer;
  z-index: 1;

  &.selected {
    z-index: 2;
    background-color: @green;
    border-color: @gray75;
  }

  .availability-grid-day:first-child &:first-of-type {
    border-radius: 3px 0 0 0;
  }
  .availability-grid-day:last-child &:first-of-type {
    border-radius: 0 3px 0 0;
  }
  .availability-grid-day:last-child &:last-of-type {
    border-radius: 0 0 3px 0;
  }
  .availability-grid-day:first-child &:last-of-type {
    border-radius: 0 0 0 3px;
  }
}
