@import "~tfstyleguide/vars";

@desktop-grid: ~"screen and (max-width: 620px)";

.availability-grid {
  .body-text-small;
  width: 620px;
  margin: 0 auto 30px auto;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  &.availability-grid__disabled {
    color: @gray50;

    .availability-grid-days {
      color: @gray50;
    }

    .availability-grid-slot {
      background-color: @gray5;
      border-color: @white;
      cursor: default;

      &.selected {
        background-color: @gray25;
      }
    }
  }

  &.availability-grid__mobile {
    width: 200px;
    height: 360px;
  }
}

.availability-grid-slot-names {
  display: inline-block;
  width: 50px;
  font-size: 14.5px;
  vertical-align: bottom;
}

.availability-grid-slot-name {
  position: relative;
  text-align: left;
  line-height: 30px;
  padding-right: 10px;
}

.availability-grid-days {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  color: @gray75;
}

.availability-grid-day {
  display: inline-block;
  width: 60px;
  line-height: 30px;
  margin-left: -1px;

  @media @desktop-grid {
    width: 200px;
  }

  .availability-grid-day-name {
    @media @desktop-grid {
      display: block;
      padding-bottom: 15px;
      position: relative;
    }
  }

  .navigation {
    position: absolute;
    top: 8px;
    cursor: pointer;

    &.disabled {
      color: @gray25;
      pointer-events: none;
      cursor: arrow;
    }
  }

  .navigation__left {
    left: 0;
  }

  .navigation__right {
    right: 0;
  }
}

.availability-grid-items {
  @media @desktop-grid {
    column-count: 2;
    column-gap: 0;
  }
}

.availability-grid-slot {
  position: relative;
  width: 60px;
  height: 31px;
  margin-top: -1px;
  background-color: @gray5;
  border: mix(@gray25, @gray50, 70%) 1px solid;
  cursor: pointer;
  z-index: 1;

  @media @desktop-grid {
    -webkit-column-break-inside: avoid;
    width: 100px;
    height: 40px;
    line-height: 40px;
    border-color: @gray25;
  }

  &.selected {
    z-index: 2;
    background-color: @green;
    border-color: @gray75;
  }

  .availability-grid-day:first-child &:first-of-type {
    border-radius: 3px 0 0 0;
  }
  .availability-grid-day:last-child &:first-of-type {
    border-radius: 0 3px 0 0;
  }
  .availability-grid-day:last-child &:last-of-type {
    border-radius: 0 0 3px 0;
  }
  .availability-grid-day:first-child &:last-of-type {
    border-radius: 0 0 0 3px;
  }
}
