@import "~tfstyleguide/vars";

.search-bar {}

.search-bar__nav {
  background-color: @white;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  opacity: 1;
  pointer-events: all;
  transition: top .3s ease, opacity .22s ease;
  @media @tablet {
    height: 240px;
    top: 46px;
  }

  .search-form {
    width: (6 * @column-px) + (5 * @gutter-px);
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;

    @media @tablet {
      padding-top: 45px;
      padding-bottom: 45px;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.search-bar__hidden {
  opacity: 0;
  transition: top .3s ease, opacity .22s ease;
  pointer-events: none;
}

.search-bar__results-page {
  .search-form {
    position: relative;
  }

  .search-input {
    max-width: 90%;
    width: 90%;
  }

  .search-suggestions {
    position: absolute;
    left: 0;
    top: 90px;
  }

  .suggestion-item p {
    width: (12 * @column-px) + (11 * @gutter-px);
  }
}

.search-underlay {
  position: absolute;
  width: 100vw;
  height: ~"calc(100vh - 286px)";
  top: 240px;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(@white, transparent);
  z-index: -1;
}

.search-form {
  margin-bottom: 15px;

  @media @nonmobile {
    margin-bottom: 60px;
  }
  .search-heading {
    margin-bottom: 30px;
    @media @tablet {
      top: 0;
      margin-bottom: 15px;
    }
  }

  .search-input {
    .h1-text();
    display: inline-block;
    max-width: 85%;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 15px;
    background-color: transparent;

    @media @tablet {
      border-color: transparent;
      box-shadow: none;
      max-width: none;
      margin-left: 0;
      margin-right: 0;

      &:focus {
        border-color: transparent;
        box-shadow: none;
      }
    }
  }

  .icon-search {
    color: @blue;
    font-size: 24px;
  }

  .icon-close {
    color: @blue;
    font-size: 32px;
    cursor: pointer;
    &:hover {
      color: @blue75;
    }
  }
}

.search-suggestions {
  width: 100%;
  background-color: @white;
  border-top: 2px solid @gray15;
  border-bottom: 2px solid @gray15;
  color: @gray75;
  z-index: 1;
  // box-shadow: 0 0px 15px 3px @gray25;
}

.suggestion-item {
  cursor: pointer;
  height: 45px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background-color: @white;
  transition: background-color .11s ease,
              border-top-color .11s ease,
              border-bottom-color .11s ease;

  p {
    width: (6 * @column-px) + (5 * @gutter-px);
    max-width: 100%;
    padding-left: 55px;
    padding-top: 5px;
    margin-bottom: 0;
    display: block;
    margin-right: auto;
    margin-left: auto;

    @media @tablet {
      padding-left: 35px;
    }
  }

  &.suggestion-item__active {
    background-color: @gray15;
    border-top-color: @gray25;
    border-bottom-color: @gray25;
    transition: background-color .11s ease,
                border-top-color .11s ease,
                border-bottom-color .11s ease;
  }
}
