@import "~tfstyleguide/vars";

.one-click-copy {
  max-width: 420px;
  display: flex;
  .copy-button {
    display: inline-block;
    margin-top: 0;
    min-width: 0;
    width: 90px;
  }
  .copy-area {
    display: inline-block;
    margin-right: 15px;
  }
}
