@import "~tfstyleguide/vars";

.footer {
  width: 100%;
  background-color: @black;

  .button {
    text-transform: uppercase;
    text-align: center;

    @media @nonmobile {
      display: none;
    }
  }
}

.footer-centered {
  max-width: @grid-width;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;

  @media @nonmobile {
    .centered-container;
    .grid-container;
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.footer-site-links {
  margin-bottom: 20px;
  @media @nonmobile {
    flex-basis: (@column-px * 3) + (@gutter-px * 2);
    flex-shrink: 0;
  }
}

.footer-contact-links {
  @media @nonmobile {
    flex-basis: (@column-px * 3) + (@gutter-px * 2);
  }

  .footer-main-link {
    color: @gray50;
    display: block;
    @media @nonmobile {
      color: @white;
      .body-text-small;
    }
    &.mobile-hidden {
      display: none;
      @media @nonmobile {
        display: initial;
      }
    }
  }
}

.footer-link {
  display: block;
}

.footer-main-link {
  color: @white;
  .subheading-text;

  @media @nonmobile {
    .body-text;
    text-transform: none;
  }
}

.footer-sub-link {
  .body-text-small;
  display: none;
  color: @blue75;
  margin-left: 8px;
  @media @nonmobile {
    display: inline-block;
  }
}

.social-links {
  .footer-link-social {
    display: inline-block;
  }
  .footer-link-social + .footer-link-social {
    margin-left: 10px;
  }
  .tui-icon {
    font-size: 30px;
    color: @white;
    &:hover {
      color: @blue50;
    }
  }
}

.social-links__mobile {
  @media @nonmobile {
    display: none;
  }
}

.social-links__desktop {
  display: none;
  @media @nonmobile {
    display: block;
  }
}

.phone-link {
  @media @nonmobile {
    margin-bottom: 30px;
  }
}

.copyright {
  .body-text-small;
  color: @gray50;
  line-height: 30px;
}

.mobile-hidden {
  display: none;
  @media @nonmobile {
    display: initial;
  }
}
