@import "~tfstyleguide/vars";

.footer-container {
  width: 100%;
  background-color: @gray25;
}

.footer {
  max-width: @grid-width;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;

  @media @nonmobile {
    .centered-container;
    .grid-container;
    text-align: left;
    padding-top: 25px;
    padding-bottom: 60px;
  }
}

.site-links {
  margin-bottom: 30px;
}

.footer-column {
  @media @nonmobile {
    .col-width(4);
    & + .footer-column {
      .gutter-offset(0);
    }
  }
}

.footer-heading {
  color: @black;
}

.footer-link {
  .body-text;
  display: block;
  color: mix(@gray75, @gray50);
  transition: color .11s;
  &:hover {
    color: @gray40;
    transition: color .11s;
  }
  &.icon {
    display: inline-block;
    margin-right: 10px;
  }
}

.legal-links {
  .body-text-small;
  .footer-link {
    .body-text-small;
    display: inline-block;
  }
  span {
    margin-right: 10px;
  }
}

.timezone {
  .body-text;
  color: @black;
}
